{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  },
  "extends": [
    "@nuxtjs",
    "plugin:nuxt/recommended"
  ],
  "rules": {
    "vue/order-in-components": [
      "error"
    ],
    "vue/component-definition-name-casing": [
      "error",
      "PascalCase"
    ],
    "vue/html-closing-bracket-spacing": [
      "error",
      {
        "selfClosingTag": "never"
      }
    ],
    "vue/singleline-html-element-content-newline": [
      "error",
      {
        "ignoreWhenNoAttributes": true,
        "ignoreWhenEmpty": true
      }
    ],
    "vue/component-name-in-template-casing": [
      "error",
      "kebab-case",
      {
        "registeredComponentsOnly": false
      }
    ],
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "never",
          "normal": "always",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "vue/html-indent": [
      "error",
      2,
      {
        "alignAttributesVertically": true
      }
    ],
    "vue/script-indent": [
      "error",
      2,
      {
        "baseIndent": 1,
        "switchCase": 1
      }
    ],
    "vue/html-closing-bracket-newline": [
      "error",
      {
        "singleline": "never",
        "multiline": "always"
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 1
        },
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/prop-name-casing": [
      "error",
      "camelCase"
    ],
    "vue/attributes-order": [
      "error"
    ],
    "vue/attribute-hyphenation": [
      "error",
      "always"
    ],
    "vue/block-tag-newline": [
      "error",
      {
        "singleline": "always",
        "multiline": "always",
        "maxEmptyLines": 0
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": ["const", "let", "var"],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      }
    ],
    "no-multiple-empty-lines": "error",
    "object-curly-newline": [
      "error",
      {
        "ExportDeclaration": "always"
      }
    ],
    "semi": [
      2,
      "always",
      {
        "omitLastInOneLineBlock": false
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "indent": "off"
      }
    }
  ]
}
